@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&display=swap');

html, body{
    margin: 0;
    padding: 0;
}
p{
    font-family: "Outfit", sans-serif;
}
.titles{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-size: xx-large;
    text-shadow: rgba(0, 0, 0, 1);
    letter-spacing: -1px;
}
.titles span{
    color: rgb(90, 150, 56);
}
.info-container{
    text-align: start;
    padding: 10px;
    max-width: 450px;
    font-size: larger;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.image-container img{
    width: 50%;
    height: 400px;
    object-fit: cover;  /* crops to fill the container */
    object-position: center;
    display: block;
}
.custom-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 50px;
}
.form-container{
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
form{
    width: 600px;
}

.select-wrapper {
    position: relative;
}

.select-wrapper select {
    padding-right: 30px;
}

.select-wrapper i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #666;
}
.btn-secondary{
    background-color: rgb(39, 39, 39);
}
.em-span{
    color: rgb(124, 184, 90);
}

/* EXTRAS */
.confirmation{
    text-align: center;
    padding: 25px;
    border: 1px  rgb(124, 184, 90) solid;
    border-radius: 10px;
    margin-top: 100px;
    background-color: rgb(222, 225, 226);
}
.confirmation p{
    font-size: large;
}